* {
  margin: 0;
  box-sizing: border-box;
}
.login,
.register {
  border-style: groove;
  border-color: #b9b5b5;
  padding: 1vw;
  max-width: 90vw;
  box-shadow: -10px -10px 3px 1px #7e7c7c;
}
.form-container-login,
.form-container-register {
  display: flex;
  padding: 2vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 60vw;
  min-height: 50vh;
  box-shadow: #b9b5b5 -15px -15px 11px 1px inset,
    #b9b5b5 -12px -12px 5px 1px inset;
}
.label-container-login,
.label-container-register {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  padding: 0.7em;
  box-shadow: #b9b5b5 -6px -5px 1px 1px inset;
}
.form-input-login,
.form-input-register {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  text-align: center;
  font-size: 1rem;
  width: 30vw;
  max-width: 40vw;
  max-height: 30vh;
  padding: 0.7vw;
  margin: 10px;
}
.input-container-login,
.input-container-register {
  box-shadow: -6px -6px 0 1px #b9b5b5;
}
.enviar {
  min-width: 8em;
  min-height: 2em;
  margin: 0.2vh;
  font-size: 1rem;
}
.button-container-login,
.button-container-register {
  width: 63vw;
  height: 4em;
}
.enviar:hover {
  box-shadow: -3px -1px 0 1px #b9b5b5;
  background-color: #282c34;
  color: white;
}
