* {
  margin: 0;
  box-sizing: border-box;
}
/* //rgb(211, 212, 204) */
/* TODO Inicio */
.welcome {
  width: 100vw;
  height: 95vh;
  align-self: center;
  background-image: url(../../archivos/Portada.jpg);
  position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pantallaInicio {
  display: flex;
  width: 100vw;
  height: 95vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 50vw;
  bottom: 50vh;
}
.buscarInicio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: 25vh;
  width: 100vw;
  height: 89vh;
}
.mensaje-inicio {
  font-size: 1.3em;
  text-shadow: -3px -5px 3px rgb(14, 13, 8);
}

/* TODO Login register */
/* NuevoCurso --> crearCursoPAge*/
.register-page,
.login-page,
.crearCursoPage {
  display: block;
  /* !Ver crearCurso para eliminar el block */
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../archivos/Libretas.jpg");
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(186, 180, 68) inset;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.login-page,
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 30px;
  border: 1px solid white;
  width: 40vw;
  border-radius: 0 25px;
  background-color: rgb(218, 187, 153);
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(111, 117, 109) inset;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
}

.label-container {
  position: absolute;
  top: 100%;
  right: 48%;
}
/* nuevoCurso y  */
.form-input {
  width: 30vw;
  min-height: 30px;
  margin: 5px;
  align-self: center;
}
.button-container {
  align-self: center;
}
/* TODO  Error */
.containerError {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: black;
}
.error404 {
  width: 60vw;
  height: 60vh;
  background-image: url(../../archivos/ERROR404NOTFOUND.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}
/* todo Buscar formulario */
.buscarFuncion {
  position: absolute;
  top: 20vh;
}
.pintar.mapeoBuscarResp {
  margin: 8vw;
  border: 1px solid white;
  width: 55vw;
  height: 20vh;
  border-radius: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  min-width: 10em;
  justify-content: center;
  background-color: rgb(218, 187, 153);
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(111, 117, 109) inset;
  animation: cambio 20s infinite;
  animation-direction: alternate;
}
.slider.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}
.contenSlider {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.slider {
  width: 100vw;
  margin: 0 1 2vw;
}
@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
