/* Error */
.error404 {
  width: 100%;
  height: 100%;
  background-image: url(../../archivos/ERROR404NOTFOUND.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Cursos/Docente: mostrar */
.mapcursos,
.mapdocente {
  width: 95vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 65px;
}

.individuo,
.check {
  margin: 30px;
  border: 1px solid white;
  width: 25vw;
  border-radius: 0 25px;
  box-shadow: 10px 10px 5px 1px #f5f0f0, 3px 3px 100px 11px #353434 inset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  min-width: 10em;
}
.check {
  height: fit-content;
  box-shadow: -10px -10px 5px 1px #f5f0f0, -3px -3px 10px 11px #353434 inset;
}
.etiquetas {
  font-size: xx-large;
  margin: 10px 30px;
  width: fit-content;
  text-decoration: 2px underline;
}
.datocurso,
.datoDocente {
  align-self: flex-start;
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  width: 21vw;
  margin: 5px;
}
/* #cursocheckb {
  display: none;
} */
.nuevoCursoContainer {
  display: block;
  width: 100vw;
  height: 5vh;
}
.crearCurso {
  width: 8vw;
  height: 1.5rem;
}

/* Personal */
.personal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 65px;
}
.docente {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid white;
  width: 40vw;
  height: 40vh;
  font-size: medium;
  border-radius: 0 25px;
  box-shadow: 10px 10px 5px 1px #f5f0f0, 3px 3px 10px 11px #353434 inset;
  padding: 15px;
}
.datoDocente.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40vw;
  height: fit-content;
  margin: 20px;
  font-size: xx-large;
}
/* selector de accion */
.div-form-selector {
  display: block;
  width: 100vw;
  margin: 20px;
}
.form-selector {
  position: absolute;
  top: 60px;
  right: 50vw;
  margin: 10px;
}

.crearCursoPage {
  display: block;
  width: 80vw;
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 7vh;
  align-self: center;
  visibility: hidden;
}

.modificar,
.eliminar {
  border-radius: 40px;
  width: 7vw;
  height: 5vh;
  align-self: center;
  justify-self: center;
}
.individuo:hover .botones {
  visibility: visible;
  cursor: pointer;
}
.button.modificar {
}
.modificarCurso {
}

/* DISEÑO RESPONSIVE */

@media (max-width: 768px) {
  .mapcursos,
  .mapdocente {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .individuo,
  .check {
    width: 80vw;
  }
  .check {
    display: flex;
  }
}
