/* TODOCursos/Docente: mostrar */
/* todo listar Docentes y Cursos */
.mapcursos,
.mapdocente {
  width: 95vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 65px;
}
.mapdocente {
  height: 100vh;
}
.botonModif {
  height: 6vh;
  width: 8vw;
  border-radius: 10px;
  margin: 5px;
}
.cont.BotonModif {
  height: 3vh;
  margin: 0.5em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked-cursos {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.individuo,
.check {
  margin: 30px;
  border: 1px solid white;
  width: 25vw;
  border-radius: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  min-width: 10em;
  justify-content: center;
  background-color: rgb(218, 187, 153);
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(111, 117, 109) inset;
}
.check {
  height: fit-content;
  box-shadow: -10px -10px 5px 1px #f5f0f0, -3px -3px 10px 11px #353434 inset;
}
.listaCursos {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.individuo:hover .botones {
  visibility: visible;
  cursor: pointer;
}
/* todo Tambien de Personal mostrar */
.etiquetas {
  font-size: xx-large;
  margin: 10px 30px;
  width: fit-content;
  text-decoration: 2px underline;
}
.datocurso,
.datoDocente {
  align-self: flex-start;
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  width: 21vw;
  margin: 5px;
}
.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 7vh;
  align-self: center;
  visibility: hidden;
}

.nuevoCursoContainer {
  display: flex;
  width: 100vw;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
}
.checked-cursos:checked .form-modif-curso {
  visibility: visible;
}
.botonModif.curso {
  width: 13vw;
  height: 6vh;
  border-radius: 10px;
}

/* todo  Cursos CrearCurso */
.crearCurso {
  width: 15vh;
  height: 5vh;
  font-size: large;
  text-align: center;
  border-radius: 10px;
}

/* todo Personal */
.personal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 65px;
}

/* todo personalMostrar */
.docenteMostrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  margin: 30px;
  border: 1px solid white;
  width: 40vw;
  border-radius: 0 25px;
  background-color: rgb(218, 187, 153);
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(111, 117, 109) inset;
  flex-wrap: wrap;
  padding: 15px;
  transition: all 0.7s ease-out;
}
.docenteMostrar:hover {
  transform: scale(1.5);
}
.datoDocente.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40vw;
  height: fit-content;
  margin: 20px;
  font-size: xx-large;
}
/* todo NuevoCurso */
.crearCursoPage {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 65px;
}
.form-container.newCurso {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.form-input.newCurso {
  width: 25vw;
  height: 5vh;
  margin: 1em;
  border-radius: 10px;
  font-size: large;
}
.button-container.register .enviar {
  width: 18vw;
  height: 6vh;
  border-radius: 10px;
  font-size: large;
}
/*  todo cursosModif  */

.form-cursosmod {
  margin: 45px;
  margin-left: 6.5vw;
  width: 28vw;
  border: 1px solid white;
  height: 58vh;
  border-radius: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  min-width: 10em;
  justify-content: center;
  background-color: rgb(218, 187, 153);
  box-shadow: 10px 10px 5px 1px #f5f0f0,
    3px 3px 100px 11px rgb(111, 117, 109) inset;
}
.form-modif-curso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28vw;
}
.form-modif.curso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 28vw;
}
.nombreCursoModif,
.aulaCursoModif,
.opcionCursoModif,
.precioCursoModif {
  width: 25vw;
  height: 5vh;
  margin: 1em;
  border-radius: 10px;
  font-size: large;
}

.imgBoton {
  width: 6vw;
  height: 3vh;
}
.buscarCurso {
  width: 25vw;
  height: 5vh;
  font-size: large;
  text-align: center;
  border-radius: 10px;
}

/* DISEÑO RESPONSIVE */

@media (max-width: 768px) {
  .mapcursos,
  .mapdocente {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .individuo,
  .check {
    width: 80vw;
  }
  .check {
    display: flex;
  }
}
